@font-face{
	font-family:Allura-Regular;
	src:url(../fuentes/Allura-Regular.ttf) ;
}
@font-face{
	font-family:Audiowide-Regular;
	src:url(../fuentes/Audiowide-Regular.ttf) ;
}
@font-face{
	font-family:Codystar-Regular;
	src:url(../fuentes/Codystar-Regular.ttf) ;
}
@font-face{
	font-family:Courgette-Regular;
	src:url(../fuentes/Courgette-Regular.ttf) ;
}
@font-face{
	font-family:Dosis-Bold;
	src:url(../fuentes/Dosis-Bold.ttf) ;
}
@font-face{
	font-family:Dosis-Light;
	src:url(../fuentes/Dosis-Light.ttf) ;
}
@font-face{
	font-family:Dosis-Regular;
	src:url(../fuentes/Dosis-Regular.ttf) ;
}
@font-face{
	font-family:Englebert-Regular;
	src:url(../fuentes/Englebert-Regular.ttf) ;
}
@font-face{
	font-family:EuphoriaScript-Regular;
	src:url(../fuentes/EuphoriaScript-Regular.ttf) ;
}
@font-face{
	font-family:HappyMonkey-Regular;
	src:url(../fonts/HappyMonkey-Regular.ttf) ;
}
@font-face{
	font-family:IndieFlower;
	src:url(../fuentes/IndieFlower.ttf) ;
}
@font-face{
	font-family:JosefinSans-Bold;
	src:url(../fuentes/JosefinSans-Bold.ttf) ;
}
@font-face{
	font-family:JosefinSans-Italic;
	src:url(../fuentes/JosefinSans-Italic.ttf) ;
}
@font-face{
	font-family:JosefinSans-Light;
	src:url(../fuentes/JosefinSans-Light.ttf) ;
}
@font-face{
	font-family:JosefinSans-Regular;
	src:url(../fuentes/JosefinSans-Regular.ttf) ;
}
@font-face{
	font-family:JosefinSans-Thin;
	src:url(../fuentes/JosefinSans-Thin.ttf) ;
}
@font-face{
	font-family:KaushanScript-Regular;
	src:url(../fuentes/KaushanScript-Regular.ttf) ;
}
@font-face{
	font-family:MarckScript-Regular;
	src:url(../fuentes/MarckScript-Regular.ttf) ;
}
@font-face{
	font-family:PT_Sans-Narrow-Web-Bold;
	src:url(../fuentes/PT_Sans-Narrow-Web-Bold.ttf) ;
}
@font-face{
	font-family:PT_Sans-Narrow-Web-Regular;
	src:url(../fuentes/PT_Sans-Narrow-Web-Regular.ttf) ;
}
@font-face{
	font-family:ShadowsIntoLight;
	src:url(../fuentes/ShadowsIntoLight.ttf) ;
}
@font-face{
	font-family:ShadowsIntoLightTwo-Regular;
	src:url(../fuentes/ShadowsIntoLightTwo-Regular.ttf) ;
}
